/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

#zetsy{
  color: #0048BA;
  font-size: 5em;
}

#zetsy img{
  border: 5px gray solid;
}

#about{
  color: gray;
  font-size: 2em;
}

#press{
  color: gray;
  font-size: 2em;
}

.press{
 
}

.footer{
  font-size: 0.8em;
  text-align: right;
}



/* Write all remaining styles here */